* {
	font-family:"Open Sans", Arial, sans-serif;
	box-sizing:border-box;
	margin:0;
	padding:0;	
}

body {
	background:#efefef;
}

nav {
    background: #1fbb91;
    color: white;
    padding:20px;
    border-radius: 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

h1 {
    font-size:24px;
    margin:0;
}

#refresh-button {        
    color: white;
    padding: 8px;
    border: 2px solid #169e7a;
    background: #169e7a;
    margin-right: 20px;
    outline:none;
}

#refresh-button:hover {
    background:#108868;
    border-color: #108868;
    color:white;
}

select {    
    background: transparent;
    border: 2px solid white;
    padding: 5px 10px;
    cursor:pointer;
    outline:none;
}

select:hover {
    background:white;
    color:#078a67;
}

option {
    outline:none;
    border:0;
}

.ReactTable {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    margin: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: content-box;
    background:white;
    border:0;
}

.rt-tr-group:hover{
	background: #f1f1f1;
    
}

.rt-th {
    padding: 10px !important;
}


.rt-td {
    text-align:center;
}

.navbar {
	background: #1fbb91;
	color:white;
    border-radius: 0;
}

.navbar-brand {
	margin:10px;
}